.custom-table th, .custom-table td {
  vertical-align: middle;
  text-align: center;
}

.custom-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.card-header h2 {
  margin: 0;
  padding: 0;
}
